= form_with(model: box, local: true) do |form|
  - if box.errors.any?
    #error_explanation
      %h2
        = pluralize(box.errors.count, "error")
        prohibited this box from being saved:
      %ul
        - box.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :name
    = form.text_field :name
  .field
    = form.label :place
    = form.text_field :place
  .field
    = form.label :release
    = form.date_select :release
  .actions
    = form.submit
