%p#notice= notice
%h1 Boxes
%table
  %thead
    %tr
      %th Name
      %th Place
      %th Release
      %th{:colspan => "3"}
  %tbody
    - @boxes.each do |box|
      %tr
        %td= box.name
        %td= box.place
        %td= box.release
        %td= link_to 'Show', box
        %td= link_to 'Edit', edit_box_path(box)
        %td= link_to 'Destroy', box, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Box', new_box_path
