<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @box.name %>
</p>

<p>
  <strong>Place:</strong>
  <%= @box.place %>
</p>

<p>
  <strong>Release:</strong>
  <%= @box.release %>
</p>

<%= link_to 'Edit', edit_box_path(@box) %> |
<%= link_to 'Back', boxes_path %>
