<%= form_with(model: rare, local: true) do |form| %>
  <% if rare.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rare.errors.count, "error") %> prohibited this rare from being saved:</h2>

      <ul>
      <% rare.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rarity %>
    <%= form.text_field :rarity %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
