<p id="notice"><%= notice %></p>

<h1>Rares</h1>

<table>
  <thead>
    <tr>
      <th>Rarity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rares.each do |rare| %>
      <tr>
        <td><%= rare.rarity %></td>
        <td><%= link_to 'Show', rare %></td>
        <td><%= link_to 'Edit', edit_rare_path(rare) %></td>
        <td><%= link_to 'Destroy', rare, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rare', new_rare_path %>
