= form_with(model: pokeca, local: true) do |form|
  - if pokeca.errors.any?
    #error_explanation
      %h2
        = pluralize(pokeca.errors.count, "error")
        prohibited this pokeca from being saved:
      %ul
        - pokeca.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :image
    = form.text_field :image
  .field
    = form.label :name
    = form.text_field :name
  .field
    = form.label :detail
    = form.text_area :detail
  .field
    = form.label :price
    = form.text_field :price
  .field
    = form.label :box_id
    = form.text_field :box_id
  .field
    = form.label :genre_id
    = form.text_field :genre_id
  .field
    = form.label :rare_id
    = form.text_field :rare_id
  .actions
    = form.submit
