
<p id="notice"><%= notice %></p>

<h1>Pokecas</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Detail</th>
      <th>Price</th>
      <th>Box</th>
      <th>Genre</th>
      <th>Rare</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pokecas.each do |pokeca| %>
      <tr>
        <td><%= image_tag pokeca.image.thumb.url width: "100px", alt: "", id: "", class: "card_image" %>
        <td><%= pokeca.name %></td>
        <td><%= pokeca.detail %></td>
        <td><%= pokeca.price %></td>
        <td><%= pokeca.box.name %></td>
        <td><%= pokeca.genre.name %></td>
        <td><%= pokeca.rare.rarity %></td>
        <td><%= link_to 'Show', pokeca %></td>
        <td><%= link_to 'Edit', edit_pokeca_path(pokeca) %></td>
        <td><%= link_to 'Destroy', pokeca, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Pokeca', new_pokeca_path %>

